- never run code without first asking the user for permission.
- when running code, first use `poetry shell`
- when running anything that needs secrets, use `doppler run --project whatsapp_miner_backend --config dev`. Also add that to shell scripts
- All imports should be from the `src` directory and top of file. No relative imports and no inline imports.
- Be careful of n+1 queries when writing sql queries or using sqlalchemy.

* versions of things:
- Docker Compose version v2.38.2-desktop.1
- Docker version 27.5.1, build 27.5.1-0ubuntu3~24.04.2
- Python 3.11.13
- Poetry (version 2.1.3)
- act version 0.2.79
- sqlalchemy Version: 2.0.41
- PostgreSQL 17.6 on aarch64-unknown-linux-gnu, compiled by gcc (GCC) 13.2.0, 64-bit on Supabase

* variables names that exist in doppler (more may be added later):
AWS_EC2_HOST_ADDRESS, AWS_EC2_PEM_CHATBOT_SA_B64, AWS_EC2_REGION, AWS_EC2_USERNAME, AWS_EC2_WORKING_DIRECTORY_WHATSAPP_MINER, AWS_IAM_WHATSAPP_MINER_ACCESS_KEY, AWS_IAM_WHATSAPP_MINER_ACCESS_KEY_ID, BUILD_TARGET, DOCKER_COMPOSE_SERVICES, DOCKER_CONTAINER_NAME_WHATSAPP_CLASSIFIER, DOCKER_CONTAINER_NAME_WHATSAPP_MINER, DOCKER_IMAGE_NAME_WHATSAPP_CLASSIFIER, DOCKER_IMAGE_NAME_WHATSAPP_MINER, ENV_NAME, GREEN_API_INSTANCE_API_TOKEN, GREEN_API_INSTANCE_ID, GROQ_API_KEY, MESSAGE_CLASSIFIER_RUN_EVERY_SECONDS, SUPABASE_DATABASE_CONNECTION_STRING, SUPABASE_DATABASE_CONNECTION_STRING_DIRECT, SUPABASE_DATABASE_CONNECTION_STRING_SESSION_POOLER, SUPABASE_DATABASE_PASSWORD, SUPABASE_PSQL_COMMAND
For the db connection strings, use SUPABASE_DATABASE_CONNECTION_STRING_SESSION_POOLER.
